# build output
dist/
.output/
.data

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.zip

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# misc
!**/.gitkeep
*.pem
.cache
.astro
.vscode/
public/notion/**/*
public/custom-components/**/*
public/external-posts/**/*
public/assets/preloaded/*
src/assets/notion/**/*
src/components/custom-components/**/*
src/external-posts/**/*
src/blocks-mdx-inject-snippets/**/*
tmp/*
!tmp/.gitkeep
src/styles/global.css
buildcache/

#agent conversation copies
.agents/**/conversation.md
