---
import type { Block, Post, ReferencesInPage } from '@/lib/interfaces';
import NBlocksPopover from './NBlocksPopover.astro';
import { getReferenceLink } from '@/lib/blog-helpers';
interface Props {
	post: Post;
  filteredReferencesInPage: ReferencesInPage[];
}
const { post, filteredReferencesInPage } = Astro.props;
const groupedReferences: { [key: string]: Block[] } =
filteredReferencesInPage.reduce((acc, ref) => {
    // Group by direct_nonmedia_link and collect Block objects
    if (ref.direct_nonmedia_link) {
      const key = ref.direct_nonmedia_link;
      acc[key] = acc[key] || [];
      acc[key].push(ref.block);
    }

    // Group by each Href in external_hrefs and collect Block objects
    ref.external_hrefs.forEach(richText => {
      if (richText.Href) {
        const key = richText.Href;
        acc[key] = acc[key] || [];
        acc[key].push(ref.block);
      }
    });

    return acc;
  }, {});

  const blockIdLinks = {};
  if (groupedReferences) {
  for (const hrefLink of Object.keys(groupedReferences)) {
    for (const block of groupedReferences[hrefLink]) {
      const result = await getReferenceLink(post.PageId, undefined, block, true);
      blockIdLinks[block.Id] = result[0];
    }
  }
}



---

{groupedReferences && (<div>
  External Links In This Page
  {Object.entries(groupedReferences).map(([hrefLink, blocks]) => (
    <div>
    <div key={hrefLink} class="inline-block">
      Mentions {' '}{hrefLink} at {' '}
       {blocks.map((block, index) => (<><NBlocksPopover block={block} linkedTo={blockIdLinks[block.Id]} popoverSpanText={`[${index + 1}]`}/>{' '}</>))}
    </div>
  </div>
  ))}
</div>)}
