---
import type { RichText } from "@/lib/interfaces.ts";

export interface Props {
	richText: RichText;
}

const { richText } = Astro.props;
---

{
	richText.Annotation.Underline ? (
		<span class="annotation-underline">
			<slot />
		</span>
	) : (
		<slot />
	)
}
